  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "ADDB 広告データベース", root_path, id: "logo" %>

           <nav>
        <ul class="nav pull-right">
          <% Category.all.each do |cat| %>
            <li><%= link_to cat.name, cat %></li>
          <% end %>

          
        </ul>
      </nav>
    </div>
  </div>
</header>
